POSTGRES_DB=fintrak
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your Postgres password>

PGADMIN_EMAIL=admin@fintrak.dev
PGADMIN_PASSWORD=<your Postgres password>

PLAID_CLIENT_ID=<your Plaid Client ID>
PLAID_SECRET=<your Plaid secret>
PLAID_ENVIRONMENT=production

GOOGLE_CLIENT_ID=<your GCS Client ID>
GOOGLE_CLIENT_SECRET=<your GCS Client secret>
ALLOWED_EMAIL=<your email>
