POSTGRES_DB=fintrak
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your Postgres password>

PGADMIN_EMAIL=admin@fintrak.dev
PGADMIN_PASSWORD=<your pgAdmin password>

PLAID_CLIENT_ID=<your Plaid Client ID>
PLAID_SECRET=<your Plaid secret>
PLAID_ENVIRONMENT=production

GOOGLE_CLIENT_ID=<your GCS Client ID>
GOOGLE_CLIENT_SECRET=<your GCS Client secret>
# Local dev only — overridden to https://fintrak.org/api/auth/callback in docker-compose.yml for production
GOOGLE_REDIRECT_URI=https://localhost:7146/auth/callback
ALLOWED_EMAIL=<your email>

ANTHROPIC_API_KEY=<your Anthropic API key>

CLOUDFLARE_TUNNEL_ID=<your Cloudflare tunnel ID>
